.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.sign_in_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
  
.sign_in_slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 15px;
  left: 3px;
   bottom: 2px;
   background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .sign_in_slider {
  background-color: #045B62;
}
  
input:focus + .sign_in_slider {
  box-shadow: 0 0 1px #045B62;
}
  
input:checked + .sign_in_slider:before {
  -webkit-transform: translateX(27px);
  -ms-transform: translateX(27px);
  transform: translateX(27px);
}
  
.sign_in_slider.round {
    border-radius: 4px;
}
  
.sign_in_slider.round:before {
  border-radius: 20%;
}
